body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: white;
}

img {
    width: 256px;
    height: 256px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h2 {
    margin-bottom: 20px;
    font-size: 20px;
}